<a href="#!">
    <div class="blogs-feature-card">
        <p class="eye-head">
            blog Category
        </p>
        <div class="blogs-feature-img">
            <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468556.png?v=1777363636"
                alt="Image" class="img">
        </div>
        <div class="blogs-feature-content">
            <h4>Why isn’t food alone always enough?</h4>
            <p>Because informed choices are powerful ones and you deserve both clarity and calm.</p>
        </div>
    </div>
</a>