<section class="error-404" style="background-image: url('https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Group_2085663237.svg?v=1779278649');">
  <div class="container">
    <div class="error-404-in">
      <h1>4 <span><img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Frame_2072749374_3.svg?v=1779278690" alt="Image" class="icon"></span>4</h1>
      <div class="bottom-block">
        <h3>Requested Page not found</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Aenean vulputate in pharetra netus scelerisque duis elementum. </p>
        <a href="/" class="primary-btn">Back To Home</a>
      </div>
    </div>
  </div>
</section>