<section class="about-banner">
    <div class="container">
        <div class="about-banner-in">
            <div class="left">
                <div class="ab-img-1">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/1a8d976d2a04f4ca91c80f07eafed4b9fb071027_1.png?v=1777901552" alt="Image" class="img">
                </div>
                <div class="ab-img-2">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/cb528a057874ed1960709ef4ccbdb9d1d937fafd_1.png?v=1777901552" alt="Image" class="img">
                </div>
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="abrt-left">
                        <div class="abrt-img">
                            <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/c1a59def97b3f3bff6c226dadac007d718ed7033_1.png?v=1777901552" alt="Image" class="img">
                        </div>
                        <div class="abrt-text">
                            <h1>Wellbeing, Simplified With Intention.</h1>
                        </div>
                    </div>

                </div>
                <div class="right-bottom">
                    <div class="abrt-right">
                        <div class="abrt-text">
                            <p>Orbe exists to make feeling good less complicated through clean science, intentional design, and rituals that support the woman you’re becoming.</p>
                        </div>
                        <div class="abrt-img">
                            <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/9535738d3cadb555d7a157419abec5eaee44b597_1.png?v=1777901552" alt="Image" class="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>