<section class="at-orbe">
    <div class="container">
        <div class="at-orbe-in">
            <div class="at-orbe-block-wrap">
                 <div class="at-orbe-block">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/96873404de0285ae500a22cfcf3004a934780162.png?v=1777040965"
                        alt="Image" class="img">
                </div>
                <div class="at-orbe-block">
                    <h3>At Orbé, we believe simplicity is not the absence of complexity but the presence of clarity.
                    </h3>
                </div>
                <div class="at-orbe-block">
                    <h3>In a world full of excess and contradiction, we choose to move with transparency, honesty, and
                        intention.</h3>
                        <div class="small-img-parallex">
                            <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/pralax-small.png?v=1777294152" alt="image" class="img">
                        </div>
                </div>
                <div class="at-orbe-block">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/23c2757c4397598a78bab84594d66430b53a2f39_1.png?v=1777040965"
                        alt="Image" class="img">
                </div>
               
            </div>
        </div>
    </div>
</section>