<section class="at-single">
    <div class="container">
        <div class="at-single-in">
            <div class="heading">
                <h2>A single ritual that makes space for your becoming.</h2>
            </div>
            <div class="at-single-image-block">
                <div class="at-single-bg">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/de484501eca4c731c7087ddab1d5dc76926901c8.png?v=1777294617" alt="Image" class="img">
                </div>
                <div class="orbe-motion-logo">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Group_2085663252.svg?v=1777295158" alt="Logo">
                </div>
            </div>
            <div class="at-single-content-block">
                <div class="left">
                    <p>Guiding you toward choices that honour your strength, respect your natural rhythm, and support the person you are continually becoming—without pressure, without noise, just clarity and intention.</p>
                </div>
                <div class="right">
                    <p>Guiding you toward choices that honour your strength, respect your natural rhythm, and support the person you are continually becoming—without pressure, without noise, just clarity and intention.</p>
                    <a href="#!" class="primary-btn">Start Your Journey</a>
                </div>
            </div>

        </div>
    </div>
</section>