<section class="best-bio-available">
    <div class="container">
        <div class="heading">
            <h2>“Best bio-available supplement”</h2>
        </div>
        <div class="best-bio-available-in">
            <div class="left">
                <p>Lorem ipsum dolor sit amet consectetur. Tempor arcu urna ac quis nec adipiscing fusce amet eget. Diam
                    etiam arcu amet et turpis scelerisque eros. Erat enim mattis purus justo amet praesent. Dignissim
                    sed nec ultrices urna etiam.</p>
                <div class="author-wrap">
                    <div class="author-img">
                        <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/ae00c29e45116a5117e73e113b446abbf9b7f72c_1.png?v=1778566715" alt="Author Name" class="img">
                    </div>
                    <div class="author-name">
                        <p>Mark Jack</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>