<section class="blogs-feature">
    <div class="container">
        <div class="heading">
            <h2>Thoughts Worth Returning To</h2>
        </div>
        <div class="blogs-feature-in">
            <div class="left">
                <div class="blogs-feature-nav">
                    <button class="prev-btn">←</button>
                    <button class="next-btn">→</button>
                </div>
            </div>
            <div class="right">
                <div class="blogs-feature-card-wrap">
                    <div class="item">
                        {% render 'blogs-feature-card' %}
                    </div>
                    <div class="item">
                        {% render 'blogs-feature-card' %}
                    </div>
                    <div class="item">
                        {% render 'blogs-feature-card' %}
                    </div>
                    <div class="item">
                        {% render 'blogs-feature-card' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>