<section class="blogs-feature">
    <div class="container">
        <div class="heading">
            <h2>Thoughts Worth Returning To</h2>
        </div>
        <div class="blogs-feature-in">
            <div class="left">
                <div class="blogs-feature-nav">
                    <div class="prev-btn">
                        <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="21.3472" cy="21.3472" r="21.3472" transform="matrix(-1 0 0 1 42.6943 0)"
                                fill="#1A1A1A" />
                            <path
                                d="M30.0313 20.8421L17.665 20.8421L22.9648 15.5423L22.2985 14.7852L15.7368 21.3469L22.2985 27.9086L22.9648 27.1515L17.665 21.8516L30.0313 21.8516L30.0313 20.8421Z"
                                fill="white" />
                        </svg>
                    </div>
                    <div class="next-btn">
                        <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="21.3472" cy="21.3472" r="21.3472" fill="#1A1A1A" />
                            <path
                                d="M12.663 20.8421L25.0294 20.8421L19.7295 15.5423L20.3958 14.7852L26.9575 21.3469L20.3958 27.9086L19.7295 27.1515L25.0294 21.8516L12.663 21.8516L12.663 20.8421Z"
                                fill="white" />
                        </svg>

                    </div>
                </div>
            </div>
            <div class="right">
                <div class="blogs-feature-card-wrap">
                    <div class="item">
                        {% render 'blogs-feature-card' %}
                    </div>
                    <div class="item">
                        {% render 'blogs-feature-card' %}
                    </div>
                    <div class="item">
                        {% render 'blogs-feature-card' %}
                    </div>
                    <div class="item">
                        {% render 'blogs-feature-card' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>