<section class="care-behind-c" style="background-image: url('https://cdn.shopify.com/s/files/1/0739/8014/9916/files/image_7.png?v=1778591928');">
    <div class="container">
        <div class="heading text-animation">
            <h2>The Care Behind the Capsule.</h2>
        </div>
        <div class="care-behind-c-in">
            <div class="left text-animation">
                <div class="text-block">
                    <h3>1. Clinically Backed</h3>
                    <p>Nutrients supported by global research for absorption and efficacy.</p>
                </div>
                <div class="text-block">
                    <h3>2. Clinically Backed</h3>
                    <p>Nutrients supported by global research for absorption and efficacy.</p>
                </div>
            </div>
            <div class="center">
                <div class="pill-img">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Untitled_13_1.png?v=1778590436" alt="Image" class="icon">
                </div>
            </div>
            <div class="right text-animation">
                <div class="text-block">
                    <h3>3. Clinically Backed</h3>
                    <p>Nutrients supported by global research for absorption and efficacy.</p>
                </div>
                <div class="text-block">
                    <h3>4. Clinically Backed</h3>
                    <p>Nutrients supported by global research for absorption and efficacy.</p>
                </div>
            </div>
        </div>
    </div>
</section>