<section class="every-orbe-capsule">
    <div class="container">
        <div class="every-orbe-capsule-in">
            <div class="left">
                <h2>Every Orbe capsule is tested to ensure it does what it’s designed to do: safely, consistently, and
                    over time.</h2>
            </div>
            <div class="center">

            </div>
            <div class="right">

            </div>
        </div>
    </div>
</section>