<section class="guided-by">
    <div class="container-left">
        <div class="guided-by-in">
            <div class="top">
                <h2>Guided By Expertise</h2>
                <p>Orbe exists to make feeling good less complicated through clean science, intentional design, and
                    rituals that support the woman you’re becoming.</p>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="guided-by-nav">
                        <div class="prev-btn-guided">
                            <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="21.3472" cy="21.3472" r="21.3472" transform="matrix(-1 0 0 1 42.6943 0)"
                                    fill="#1A1A1A" />
                                <path
                                    d="M30.0313 20.8421L17.665 20.8421L22.9648 15.5423L22.2985 14.7852L15.7368 21.3469L22.2985 27.9086L22.9648 27.1515L17.665 21.8516L30.0313 21.8516L30.0313 20.8421Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="next-btn-guided">
                            <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="21.3472" cy="21.3472" r="21.3472" fill="#1A1A1A" />
                                <path
                                    d="M12.663 20.8421L25.0294 20.8421L19.7295 15.5423L20.3958 14.7852L26.9575 21.3469L20.3958 27.9086L19.7295 27.1515L25.0294 21.8516L12.663 21.8516L12.663 20.8421Z"
                                    fill="white" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="guided-by-slider owl-carousel">
                        <div class="item">
                            <div class="guided-by-card">
                                <div class="guided-by-img">
                                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/ae00c29e45116a5117e73e113b446abbf9b7f72c.png?v=1777991165"
                                        alt="Image" class="img">
                                </div>
                                <div class="text-content">
                                    <h3>Neil Paul</h3>
                                    <p>Marketing</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="guided-by-card">
                                <div class="guided-by-img">
                                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/734e97d18c35254fe654c967b1f6d274ef1ad4fa.png?v=1777991165"
                                        alt="Image" class="img">
                                </div>
                                <div class="text-content">
                                    <h3>Neil Paul</h3>
                                    <p>Marketing</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="guided-by-card">
                                <div class="guided-by-img">
                                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/734e97d18c35254fe654c967b1f6d274ef1ad4fa.png?v=1777991165"
                                        alt="Image" class="img">
                                </div>
                                <div class="text-content">
                                    <h3>Neil Paul</h3>
                                    <p>Marketing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
