<section class="guided-by">
    <div class="container">
        <div class="guided-by-in">
            <div class="top">
                <h2>Guided By Expertise</h2>
                <p>Orbe exists to make feeling good less complicated through clean science, intentional design, and rituals that support the woman you’re becoming.</p>
            </div>
            <div class="bottom">
                <div class="guided-by-slider">
                    <div class="item">
                        <div class="guided-by-card">
                           <div class="guided-by-img">
                             <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/ae00c29e45116a5117e73e113b446abbf9b7f72c.png?v=1777991165" alt="Image" class="img">
                           </div>
                           <div class="text-content">
                            <h3>Neil Paul</h3>
                            <p>Marketing</p>
                           </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="guided-by-card">
                           <div class="guided-by-img">
                             <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/734e97d18c35254fe654c967b1f6d274ef1ad4fa.png?v=1777991165" alt="Image" class="img">
                           </div>
                           <div class="text-content">
                            <h3>Neil Paul</h3>
                            <p>Marketing</p>
                           </div>
                        </div>
                    </div>
                    <div class="item">
                         <div class="guided-by-card">
                           <div class="guided-by-img">
                             <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/734e97d18c35254fe654c967b1f6d274ef1ad4fa.png?v=1777991165" alt="Image" class="img">
                           </div>
                           <div class="text-content">
                            <h3>Neil Paul</h3>
                            <p>Marketing</p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>