<section class="how-the-ritual">
    <div class="container">
        <div class="heading">
            <h2>How the Ritual Works</h2>
        </div>
        <div class="how-the-ritual-in">
            <div class="htr-card">
                <div class="htr-img">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468605.png?v=1780384552" alt="Image" class="img">
                </div>
                <div class="htr-content">
                    <h4 class="serial-num">
                        1 .
                    </h4>
                    <p class="htr-text">Once taken, nutrients are released in stages, based on how the body absorbs them best.</p>
                </div>
            </div>
            <div class="htr-card">
                <div class="htr-img">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468605.png?v=1780384552" alt="Image" class="img">
                </div>
                <div class="htr-content">
                    <h4 class="serial-num">
                        1 .
                    </h4>
                    <p class="htr-text">Once taken, nutrients are released in stages, based on how the body absorbs them best.</p>
                </div>
            </div>
            <div class="htr-card">
                <div class="htr-img">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468605.png?v=1780384552" alt="Image" class="img">
                </div>
                <div class="htr-content">
                    <h4 class="serial-num">
                        1 .
                    </h4>
                    <p class="htr-text">Once taken, nutrients are released in stages, based on how the body absorbs them best.</p>
                </div>
            </div>
        </div>
    </div>
</section>