<section class="join-community">
        <div class="heading">
            <h2>Join our community</h2>
            <p>Guided by those who bring wisdom, depth, and evidence to our pursuit of clarity.</p>
        </div>
        <div class="join-community-in">
            <div class="community-ticker">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468501.png?v=1777298247"
                        alt="Image" class="img">
                    {% render 'insta-icon' %}
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468501.png?v=1777298247"
                        alt="Image" class="img">
                    {% render 'insta-icon' %}
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468501.png?v=1777298247"
                        alt="Image" class="img">
                    {% render 'insta-icon' %}
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468501.png?v=1777298247"
                        alt="Image" class="img">
                    {% render 'insta-icon' %}
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468501.png?v=1777298247"
                        alt="Image" class="img">
                    {% render 'insta-icon' %}
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468501.png?v=1777298247"
                        alt="Image" class="img">
                    {% render 'insta-icon' %}
                </div>

            </div>
        </div>
</section>
<script>
  window.addEventListener('load', function () {
    $('.community-ticker').bxSlider({
      minSlides: 4,
      maxSlides: 4,
      slideWidth: 468,
      slideMargin: 20,
      ticker: true,
      speed: 9000
    });
  });
</script>