<section class="letter-from-founder" style="background-image: url('https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468571.png?v=1777980845')">
    <div class="container">
        <div class="letter-from-founder-in">
            <div class="letter-card">
                <h2>A Letter From Our Founder</h2>
                <div class="letter-img">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/e05aee5203b43522ad12954497c7ca7e98fb69f1.png?v=1777980670" alt="Image" class="img">
                </div>
                <p>There was a moment, quiet but unmistakable, when I realised just how complicated caring for ourselves had become. Everywhere I looked, there were louder promises, conflicting advice, and an overwhelming amount of information that left most of us feeling more confused than supported.
                Orbe began as an answer to that feeling.</p>
                <div class="signature">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Kevin_Hart.svg?v=1777980667" alt="Signature" class="icon">
                    <p>CEO, ORBE</p>
                </div>
            </div>
        </div>
    </div>
</section>