<style>
    .terms-policy {
        margin-top: 140px;
    }

    .terms-policy-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0px 20px;
    }

    .terms-policy a {
        text-decoration: underline;
        text-underline-offset: 2px;
        transition: .4s ease all;
        font-family: var(--aspekta);
    }

    .terms-policy a:hover {
        cursor: pointer;
        color: var(--orange);
    }

    .terms-policy ul,
    .terms-policy ol {
        padding-left: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .terms-policy ul {
        list-style: square;
    }

    .terms-policy p {
        margin-bottom: 10px;
        font-family: var(--aspekta);
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 20px;

    }

    .heading p {
        text-transform: uppercase;
        letter-spacing: 2.88px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .terms-policy h2,
    .terms-policy h3,
    .terms-policy h4,
    .terms-policy h5,
    .terms-policy h6 {
        padding-bottom: 20px;
    }

    .terms-policy ul li::marker {
        font-size: 12px;
    }

    .terms-policy h1 {
        font-size: clamp(28px, 5vw, 52px);
    }

    .terms-policy h2 {
        font-size: clamp(24px, 5vw, 42px);
    }

    .terms-policy h3 {
        font-size: clamp(22px, 5vw, 36px);
    }

    .terms-policy h4 {
        font-size: clamp(20px, 5vw, 28px);
    }

    .terms-policy h5 {
        font-size: clamp(20px, 5vw, 26px);
    }

    .terms-policy h6 {
        font-size: clamp(18px, 5vw, 24px);
    }

    li {
        font-family: var(--aspekta);
        line-height: 130%;
        font-size: 16px;
    }

    .terms-policy-content{
        padding-top: 40px;
    }
    @media (max-width:767px) {

        p,
        li,
        a {
            font-size: 14px;
        }

    }
</style>
<section class="terms-policy">
    <div class="terms-policy-container">
        <div class="terms-policy-in">
            <div class="heading">
                <h1>Privacy Policy</h1>
                <p>Last modified : February 2025</p>
            </div>
            <div class="terms-policy-content">
                <h2>Hello, this is terms and condition heading</h2>
                <p>Lorem ipsum dolor sit amet consectetur. Nunc cras lacus aliquet posuere facilisis. Amet pellentesque
                    viverra eu faucibus justo diam. Condimentum auctor ipsum urna pharetra eget. Ultrices suscipit amet
                    felis sit non egestas. Pellentesque
                    risus in egestas maecenas varius nascetur sit. Turpis amet enim justo purus. Velit vulputate integer
                    in enim vitae diam feugiat. Venenatis rhoncus id non odio elementum tempor. Pulvinar fames imperdiet
                    nisi pharetra pellentesque
                    pellentesque tortor lorem. Libero velit dictum viverra quis purus et venenatis ac. Venenatis
                    vestibulum molestie morbi faucibus diam diam scelerisque sit turpis. Scelerisque mattis aliquet eget
                    quis enim tellus vitae at. In
                    sed ipsum nisi magna. Eu urna euismod porta aliquet turpis arcu morbi posuere. Morbi proin magna
                    tortor auctor quis magna lectus pretium convallis. Ornare quam quis habitasse nam enim vitae. Ornare
                    consequat nisl sed risus
                    urna morbi id. </p>
                <h3>
                    Title
                </h3>
                <h4>This is h4</h4>
                <p>Feugiat in erat accumsan quis ornare posuere adipiscing aliquam ligula. Elementum vulputate eu
                    fermentum platea fringilla. Leo massa congue convallis tortor gravida.</p>

                <h5>This is h5</h5>
                <p>Feugiat in erat accumsan quis ornare posuere adipiscing aliquam ligula. Elementum vulputate eu
                    fermentum platea fringilla. Leo massa congue convallis tortor gravida.</p>

                <h6>This is h6</h6>
                <p>Feugiat in erat accumsan quis ornare posuere adipiscing aliquam ligula. Elementum vulputate eu
                    fermentum platea fringilla. Leo massa congue convallis tortor gravida.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                </ul>
                <ol>
                    <li>Omnis itaque, dolorem maiores pariatur temporibus molestias quidem autem? Rem dolore,
                        dignissimos soluta, praesentium iusto magni natus, reiciendis sint officiis cupiditate eaque?
                    </li>
                    <li>Omnis itaque, dolorem maiores pariatur temporibus molestias quidem autem? Rem dolore,
                        dignissimos soluta, praesentium iusto magni natus, reiciendis sint officiis cupiditate eaque?
                    </li>
                    <li>Omnis itaque, dolorem maiores pariatur temporibus molestias quidem autem? Rem dolore,
                        dignissimos soluta, praesentium iusto magni natus, reiciendis sint officiis cupiditate eaque?
                    </li>
                </ol>
                <a href="#!">click me boss</a>
                <p>Omnis itaque, dolorem maiores pariatur temporibus molestias quidem autem? Rem dolore, <a
                        href="#!">Click me boss</a> soluta, praesentium iusto magni natus, reiciendis sint officiis
                    cupiditate eaque?</p>
            </div>
        </div>
    </div>
</section>