<section class="progress-for-us">
    <div class="container">
        <div class="progress-for-us-in">
            <div class="left">
                <div class="progress-for-us-img">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Frame_2072749125_c07a0eb0-4c90-4df3-975b-007c56109bdd.png?v=1780402147" alt="Image" class="img">
                </div>
            </div>
            <div class="right">
                <div class="progress-for-us-img-sm">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468568_fae16575-450f-447a-9181-016abc299947.png?v=1780402146" alt="Image" class="img">
                </div>
                <div class="progress-for-us-content">
                    <h2>Progress, for us, means refining what already works, with care, patience, and clarity.</h2>
                    <div class="progress-for-us-pointers">
                        <p>We monitor new clinical research to understand how nutrients work, interact, and absorb over time.</p>
                        <p>Feedback from experts and the Orbe community helps guide future improvements and innovations.</p>
                        <p>We review formulations regularly to ensure they remain relevant, effective, and safe.</p>
                        <p>New products are developed slowly and intentionally — only when there is clear evidence and a genuine need.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>