<section class="ready-formula">
    <div class="container">
        <div class="ready-formula-in">
            <div class="left">
               <div class="content-block">
                 <h2>Ready To Explore The Full Formula?</h2>
                <p>See how these nutrients come together in one thoughtfully designed supplement.</p>
                <a href="#!" class="primary-btn">View Product Page</a>
               </div>
            </div>
            <div class="right">
                <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/ChatGPT_Image_Feb_26_2026_01_52_18_PM_1.png?v=1777296931" alt="image" class="img">
            </div>
        </div>
    </div>
</section>