<section class="see-through">
    <div class="container-left">
        <div class="see-through-in">
            <div class="st-stuct-1">
                <div>
                    <h2>Seeing through the noise</h2>
                    <p>Because informed choices are powerful ones and you deserve both clarity and calm.</p>
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468539.png?v=1777473273"
                        alt="Image" class="img">
                </div>
                <div></div>
            </div>
            <div class="st-stuct-2">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468539.png?v=1777473273"
                        alt="Image" class="img">
                </div>
                <div></div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468539.png?v=1777473273"
                        alt="Image" class="img">
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468539.png?v=1777473273"
                        alt="Image" class="img">
                </div>
            </div>
          <div class="st-orbe-logo">
            <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Group_2085663253.svg?v=1777473561" alt="Image" class="img">
          </div>
        </div>
          <div class="st-struct-3">
                <div></div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Rectangle_3468539.png?v=1777473273"
                        alt="Image" class="img">
                </div>
            </div>
    </div>
</section>