<section class="sliding-image-text">
    <div class="sliding-image-text-in">
        <div class="sit-fold">
            <div class="sit-image-block">
                <div class="sit-img">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/1bca592ec0946007ad5b67f77fd24096b3a4122b.png?v=1777466553"
                        alt="Image" class="img">
                </div>
            </div>
            <div class="sit-text-block">
                <div class="container-right">
                    <div class="sit-text">
                        <div class="block-1">
                            <p>Guiding you toward choices that honour your strength, respect your natural rhythm,
                                and
                                support the person you are continually becoming—without pressure, without noise,
                                just
                                clarity and intention.</p>
                        </div>
                        <div class="block-2">
                            <p>Guiding you toward choices that honour your strength, respect your natural rhythm,
                                and
                                support the person you are continually becoming—without pressure, without noise,
                                just
                                clarity and intention.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sit-fold">
            <div class="left">
                <div class="container-left">
                    <div class="sit-text">
                        <div class="block-1">
                            <p>Guiding you toward choices that honour your strength, respect your natural rhythm,
                                and
                                support the person you are continually becoming—without pressure, without noise,
                                just
                                clarity and intention.</p>
                        </div>
                        <div class="block-2">
                            <p>Guiding you toward choices that honour your strength, respect your natural rhythm,
                                and
                                support the person you are continually becoming—without pressure, without noise,
                                just
                                clarity and intention.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="sit-img">
                    <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/0259b1a9921ad6b1086ad6228a5d8b93e787b428.png?v=1777466553"
                        alt="Image" class="img">
                </div>
            </div>
        </div>
    </div>
</section>