<section class="slide-in-img">
  <div class="container">
    <div class="slide-in-img-in">

      <div class="sii-text">
        <h2 class="text-target">
          {{ section.settings.heading }}
        </h2>
      </div>

      <div class="sii-img">
        {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.heading | escape }}"
          class="parallax-img">
        {% endif %}
      </div>

    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(ScrollTrigger);

    function splitWords(selector) {
      document.querySelectorAll(selector).forEach(el => {
        let words = el.innerText.trim().split(" ");
        el.innerHTML = words.map(word => `<span>${word}</span>`).join(" ");
      });
    }

    splitWords(".text-target");

    const words = document.querySelectorAll(".text-target span");
    const image = document.querySelector(".parallax-img");

    let tl1 = gsap.timeline({
      scrollTrigger: {
        trigger: ".slide-in-img",
        start: "top 40%",
        end: "top 20%",
        scrub: true
      }
    });

    tl1.to(words, {
      color: "#1A1A1A",
      stagger: {
        each: 0.1,
        ease: "power1.inOut"
      },
      ease: "none"
    });

    gsap.to(".parallax-img", {
      y: -50,
      ease: "none",
      scrollTrigger: {
        trigger: ".slide-in-img",
        start: "top bottom",
        end: "bottom top",
        scrub: true
      }
    });
  });
</script>

{% schema %}
{
"name": "Slide In Image",
"settings": [
{
"type": "textarea",
"id": "heading",
"label": "Heading Text",
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
}
],
"presets": [
{
"name": "Slide In Image"
}
]
}
{% endschema %}