<section class="that-scale">
    <div class="container">
        <div class="that-scale-in">
            <div class="heading">
                <h2>Principles That Scale With Us</h2>
            </div>
        </div>
    </div>
</section>