<section class="we-believe-science">
    <div class="container">
        <div class="we-believe-science-in">
            <h2>We believe science should support you, not overwhelm you.</h2>
            <p>At Orbe, our approach begins with evidence, not trends. We focus on long-term support, gentle consistency, and clarity over excess. Every product is designed to work with the body, not force it.</p>
            <div class="orbe-icon">
                {% render 'orbe-logo-o' %}
            </div>
        </div>
    </div>
</section>