<section class="what-your-body">
    <div class="container">
        <div class="what-your-body-in">
            <div class="top">
                <h2>What Your Body’s Been Trying to Tell You</h2>
                <p>You’re not imagining it. These everyday shifts are your body’s way of asking for support.</p>
            </div>
            <div class="bottom-wrap">
                <div class="left">
                    <div class="list-block">
                        <p class="e-head">Energy & Fatigue</p>
                        <ul>
                            <li>low energy</li>
                            <li>afternoon crashes</li>
                            <li>tired for no clear reason</li>
                            <li>feeling drained too easily</li>
                            <li>slow starts to your mornings</li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <p class="e-head">Energy & Fatigue</p>
                        <ul>
                            <li>low energy</li>
                            <li>afternoon crashes</li>
                            <li>tired for no clear reason</li>
                            <li>feeling drained too easily</li>
                            <li>slow starts to your mornings</li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <p class="e-head">Energy & Fatigue</p>
                        <ul>
                            <li>low energy</li>
                            <li>afternoon crashes</li>
                            <li>tired for no clear reason</li>
                            <li>feeling drained too easily</li>
                            <li>slow starts to your mornings</li>
                        </ul>
                    </div>
                </div>
                <div class="center">
                    <div class="pill-img">
                        <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Untitled_13_1.png?v=1778590436" alt="Image" class="icon">
                    </div>
                    <div class="pill-bg-img">
                        <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Vector_5.svg?v=1779089944" alt="Image" class="icon">
                    </div>
                </div>
                <div class="right">
                    <div class="list-block">
                        <p class="e-head">Energy & Fatigue</p>
                        <ul>
                            <li>low energy</li>
                            <li>afternoon crashes</li>
                            <li>tired for no clear reason</li>
                            <li>feeling drained too easily</li>
                            <li>slow starts to your mornings</li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <p class="e-head">Energy & Fatigue</p>
                        <ul>
                            <li>low energy</li>
                            <li>afternoon crashes</li>
                            <li>tired for no clear reason</li>
                            <li>feeling drained too easily</li>
                            <li>slow starts to your mornings</li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <p class="e-head">Energy & Fatigue</p>
                        <ul>
                            <li>low energy</li>
                            <li>afternoon crashes</li>
                            <li>tired for no clear reason</li>
                            <li>feeling drained too easily</li>
                            <li>slow starts to your mornings</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>