@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-Thin.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-ThinItalic.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-Light.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-LightItalic.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-Regular.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-RegularItalic.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-Medium.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-MediumItalic.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-SemiBoldItalic.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-Bold.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tobias TRIAL";
  src:
    url("../assets/fonts/TobiasTRIAL-ExtraBoldItalic.woff2") format("woff2"),
    url("../assets/fonts/TobiasTRIAL-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 50;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-50.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-100.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 150;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-150.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-200.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-250.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-300.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 350;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-350.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-400.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-450.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-500.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 550;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-550.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-600.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 650;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-650.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-700.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 750;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-750.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-800.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 850;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-850.woff2") format("woff2");
}

@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Aspekta-900.woff2") format("woff2");
}

@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/FavoritBookC.woff") format("woff2");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/favorit-light.woff2") format("woff2");
}
:root {
  --black: #1a1a1a;
  --gray: #5d5d5d;
  --white: #ffffff;
  --golden: linear-gradient(180deg, #b98846 -10.88%, #fffab6 100%);
  --light-gray: #f2f3f5;
  --aspekta: "Aspekta";
  --tobias: "Tobias TRIAL";
  --favorit: "Favorit";
}

/* General CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none !important;
}
body,
html {
  font-family: var(--instrument);
  font-weight: 400;
  color: var(--gray);
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--tobias);
  color: var(--black);
  font-weight: 400;
  line-height: 99%;
  letter-spacing: -0.05em;
}

h1 {
  font-size: clamp(32px, 6vw, 62px);
}

h2 {
  font-size: clamp(28px, 6vw, 52px);
}
h3 {
  font-size: clamp(24px, 6vw, 42px);
}

p {
  color: var(--gray);
  line-height: 112%;
  letter-spacing: 0em;
  font-family: var(--aspekta);
  font-size: 14px;
  font-weight: 450;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.icon {
  width: 100%;
  height: auto;
  display: flex;
}

.container {
  padding: 0px 60px;
}

.container-right {
  padding-right: 60px;
}

.container-left {
  padding-left: 60px;
}

.text-left {
  text-align: left;
}

.d-sm {
  display: none;
}

.d-lg {
  display: block;
}
.primary-btn {
  overflow: hidden;
  background: linear-gradient(180deg, #e3b26f -10.88%, #fffab6 100%);
  border-radius: 50px;
  font-family: var(--aspekta);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: center;
  font-weight: 300;
  padding: 15px 30px;
  cursor: pointer;
  color: #6a5635;
  display: inline-block;
  width: fit-content;
  transition: 0.4s ease all;
}
.primary-btn:hover {
  background: linear-gradient(180deg, #fffab6 -10.88%, #e3b26f 100%);
}
.spacer {
  height: 360px;
}

.bx-wrapper {
  max-width: 100% !important;
  margin-bottom: 0px !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}

.bx-viewport {
  height: auto !important;
}
.owl-nav.disabled{
  display: none !important;
}
.next-btn.disabled{
  opacity: .5;
}
.prev-btn.disabled{
  opacity: .5;
}

@media screen and (max-width: 1200px) {
  .spacer {
    height: 240px;
  }
  .container {
    padding: 0px 40px;
  }
  .container-left {
    padding-left: 40px;
  }
}

@media screen and (max-width: 991px) {
  .spacer {
    height: 140px;
  }
  .container {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0px 20px;
  }
  .spacer {
    height: 100px;
  }
  .container-left {
    padding: 20px;
  }
  .d-sm {
    display: block;
  }
  .d-lg {
    display: none;
  }
}
